<div class="container">

  <div class="center">
    <app-drag-and-drop (emitDropFiles)="handleFilesDropped($event)" (emitEnterFiles)="handleFilesEnter($event)"
      (emitLeaveFiles)="handleFilesLeave($event)" (emitDropText)="handleTextDropped($event)">
      <h5>Drop your audio files here</h5>
      <hr class="my-4" />
      <p>
        Dropped files will stay within your local browser. They will not be
        uploaded anywhere else.
      </p>
    </app-drag-and-drop>
  </div>

  <div *ngIf="!rowDataUpperTable">Waiting for metadata....</div>

  <div *ngIf="rowDataUpperTable">Oh yes, now got the metadata, we can access the album:
    {{rowDataUpperTable.common.album}}
    <ag-grid-angular #agGrid style="width: 100%; height: 200px" class="ag-theme-balham" [rowData]="rowDataUpperTable"
      [columnDefs]="columnDefsUpper" rowSelection="multiple" (firstDataRendered)="onFirstDataRendered($event)">
    </ag-grid-angular>
  </div>

  <div *ngIf="err">Oh no, something went terrible wrong: {{err.message}}</div>

  <hr class="my-4" />

  <ag-grid-angular #agGrid style="width: 100%; height: 200px" class="ag-theme-balham"
    [rowData]="rowDataBottomTable | async" [columnDefs]="columnDefsBottom" rowSelection="multiple"
    (firstDataRendered)="onFirstDataRendered($event)">
  </ag-grid-angular>

</div>
